
@font-face {
    src: url("../fonts/Waffle_Crisp.ttf");
    
}

.gridBackground{
	-fx-background-image: url('../img/waffle-background.png');
	-fx-background-size: stretch;
	
}


.letters{
		-fx-font-family: "Waffle Crisp";
}

.longIncave{
	-fx-background-image: url("../img/bg-long-Incave.png");
	-fx-background-size: stretch;
}

.rootBackground{
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #55c5fc , #92dff3);
}

.redButton:hover{
	-fx-border-width:2.0px;
	-fx-background-color: #fff;
	-fx-background-radius:30.0px;
	-fx-border-color: red;
	-fx-text-fill: red;
	-fx-border-radius:30.0px;

}


.redButton{
	
	-fx-border-width:2.0px;
	-fx-background-radius:30.0px;
	-fx-border-radius:30.0px;
	-fx-border-color: red;
	-fx-font-family: "Waffle Crisp";
	-fx-background-color: red;
	-fx-text-fill: white;
}